@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Shrikhand&display=swap');
$grisfoncé: #eaeaea;
$grisclair: #f7f7f7;
$violet: #9356dc;
$black: #353535;
$rose: #FF79DA;
$roseclair: #f5edff;
$f6: #f6f6f6;

.container-category {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}


@keyframes spin {
    from {
        transform: rotate(200deg);
    }

    to {

        transform: rotate(390deg);
        transform-origin: 50% 50%;

    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fill {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}



body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    display: block;
    background-color: $grisclair;
}


header {
    display: flex;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    width: 100%;
    font-weight: 450;
    height: 50px;
    padding: 0.3rem;
    padding-left: 0;
    padding-right: 0;
    border-left: none;

    i {
        font-size: 30px;
        color: black;
        padding-left: 12px;
    }

    p {
        font-size: 35px;

        margin-left: auto;
        margin-right: auto;
    }

}

.image {
    position: relative;

    img {
        object-fit: cover;
        width: 100%;
        height: 333px;
    }
}

h3 {
    font-size: 19px;
}

/*****************A LA FRANCAISE*******************/
.title {
    width: 99.5%;
    position: absolute;
    border: 3px solid $grisclair;
    background-color: $grisclair;
    border-radius: 20px 20px 0 0;
    margin-top: -76px;
    margin-bottom: 200px;

    h3 {
        font-size: 27px;
        font-family: 'Shrikhand', cursive;
        font-style: italic;
        font-weight: 400;


    }

    .left\/right {
        display: flex;
        justify-content: space-between;
        margin: 8px;
        align-items: center;
    }

    .fa-solid {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .heart {
        display: block;
        position: relative;
        font-size: 20px;
        -webkit-text-stroke: 2px;


        .fa-regular.fa-heart {
            font-size: 165%;
            -webkit-text-stroke: 0px;
            color: black;
        }

        .remplissage {
            font-size: 30px;
            width: 100%;
            height: 0;
            position: absolute;
            left: 0;
            transition: all 1.2s ease-in-out 0.3s;


            &:hover {
                height: 100%;

                .fa-solid {
                    background-image: linear-gradient(to top, $rose, $violet);
                    height: 100%;
                    position: absolute;
                }
            }
        }
    }
}

/********************SECTIONS************************/
.entrées,
.Plats,
.Desssert {
    padding-top: 20px;

    @for $i from 1 through 5 {
        .Menu-item:nth-child(#{$i}) {

            animation: apparitionPlat 700ms ease ($i * 300ms) forwards;

        }
    }
}

.Menu-item {
    opacity: 0;
    transform: translateY(-10px);

}

.Plats {
    margin-bottom: -18px;


}

@keyframes apparitionPlat {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: none;

    }

}



.Menu-item {
    position: relative;
    overflow: hidden;
    max-width: 600px;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 10px;
    font-size: 20px;

    &::after {
        content: "";
        display: block;
        width: 55px;
        height: 3px;
        background-color: #99e2d0;
        margin-top: 5px;
        margin-bottom: 5px;

    }
}

section {
    background-color: #f6f6f6;
    padding-bottom: 1px;
}



section>div {
    display: flex;
    border: 1px solid #f7f7f7;
    margin: 19px;
    margin-bottom: 19px;
    border: 1px solid #f6f6f6;
    height: 72px;
    background-color: white;
    font-weight: 500;
    border-radius: 17px;
    align-items: center;
    width: 76%;
    padding-left: 59px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    justify-content: space-between;
    overflow: hidden;

    h3 {
        block-size: 25px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p {
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis
    }



    .item__text {
        margin-left: -45px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        p {
            margin-top: -19px;
        }

        h3 {
            font-size: 17px;
        }
    }

    .item__price {
        p {
            font-size: 14px;
            font-weight: bold;
            position: relative;
            top: 15px;
            left: -10px;
            margin-right: 10px;

        }


        .Menu-item,
        .item__text,
        .item__price {
            padding: 10px;
        }


        .check-box {
            i {
                font-size: 28px;
            }

            color: white;
            position: absolute;
            background-color: #99e2d0;
            height: 98px;
            padding-left: 16px;
            margin-top: -69px;
            margin-left: 21px;
            border-radius: 0 17px 17px 0;
            display: none;
            align-items: center;
            cursor: pointer;
            // margin-right: -26px;
            transition: all 500ms;
        }

    }
}

.check-box__icone {
    display: inline;

}



.btn {
    background: linear-gradient(166deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    block-size: 19%;

    box-shadow: gray 2px 4px 12px -1px;
    height: 55px;
    align-items: center;
    transition: transform 200ms;
    margin-bottom: 20px;
    width: 53%;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    margin-left: 22%;
    margin-bottom: 41px;
    margin-top: 50px;

    &:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }
}

.btn {
    background: linear-gradient(166deg, hsl(317, 100%, 74%) 0%, #9356dc 100%);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    block-size: 16%;
    box-shadow: gray 2px 4px 12px -1px;
    height: 55px;
    align-items: center;
    transition: transform 200ms;
    margin-bottom: 20px;
    // width: 44%;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
    margin-top: 50px;
    height: 44px;
}


.Menu-item:hover {
    cursor: pointer;

    .check-box__icone {

        display: inline;
        transition: transform 0.5s;
        animation: rotation 1s infinite linear;
    }

    .check-box {
        display: flex;
        padding-right: 0;
        position: relative;
        animation: fill 0.1s linear forwards;
        width: 100%;
        overflow: hidden;
        transform: translateX(100%);
    }

    .check-box i {
        animation: spin 1s linear;
        margin-top: -18px;
    }

    .item__price p {
        padding-right: 50px;
        margin-top: 58px;
    }
}







/****************************FOOTER************************/
footer {
    padding-top: 27px;



    img {
        width: 122px;
        margin-left: 12px;
    }

    background-color: #353535;
    padding: 10px;

    i {
        margin-right: 10px;
    }

    a {
        color: white;
        margin-left: -28px;
        text-decoration: none;

        &:hover {
            color: gray;
        }
    }

    ul {
        list-style: none;

    }

    li {
        padding-bottom: 10px;
        text-decoration: none;
    }

    ol {
        list-style: none;

    }
}

@media screen and (max-width: 496px) {
    .Menu-item {}
}

@media screen and (min-width: 768px) {

    .footer {
        img {
            display: block;
            margin: auto;
            padding-bottom: 40px;
        }

        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}