@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Shrikhand&display=swap');

$grisfoncé: #eaeaea;
$grisclair: #f7f7f7;
$violet: #9356dc;
$black: #353535;
$rose: #FF79DA;
$roseclair: #f5edff;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {

    z-index: 999;
    position: fixed;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    i {

        animation: spin 10s 4s forwards infinite;
        transform: opacity(1);
        font-size: 50px;
        opacity: 0.7;
        // margin: auto;
        // background-color: red;
        // height: 100%;
        // line-height: 100%;


    }

    animation-delay: 10s;
    transition: visibility 10s,
    opacity 1 linear;
    opacity: 0;
    transition: 10s;
    // display: none;
    // &.loader,
    // i:hover {
    // transition: 10s;
    // opacity: 0;

    // }
}









body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    display: block;

}

a {
    text-decoration: none;
    font-size: 18px;
}

h2 {

    padding-left: 30px;
    font-size: 33px;
}



.header {
    font-family: 'Shrikhand', cursive;
    text-align: center;

    width: 100%;
    font-weight: 600;
    height: 50px;
    padding: 0.3rem;
    padding-left: 0;
    padding-right: 0;
    border-left: none;

    p {
        font-size: 36px;
        margin-bottom: -31px;
        margin-top: 1px;
    }

}

.en-tete__map {

    background-color: $grisfoncé;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #353535;
    border-top: 3px solid #eaeaea;




    input {
        background-color: $grisfoncé;
        border: none;
        font-size: 20px;
        width: 32%;
    }
}

.en-tete {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: $grisclair;






    i {
        font-size: 13px;
        margin-right: 4px;
    }

    .en-tete__text {
        font-size: 20px;


        text-align: center;
        margin: 7px;
        padding-bottom: 14px;

        p {
            color: #a2a2a2;
        }

        h2 {

            padding-left: 30px;
            font-size: 33px;
        }
    }

    .btn {
        background: linear-gradient(166deg, #ff79da 0%, #9356dc 100%);
        color: white;
        border: none;
        border-radius: 30px;
        font-weight: 450;
        block-size: 19%;
        margin: 4px;
        margin-left: 4px;
        box-shadow: grey 2px 1px 5px -1px;
        width: 178px;
        height: 46px;
        align-items: center;
        transition: transform 200ms;
        margin-bottom: 20px;
        width: 51%;
        font-size: 16px;

        &:hover {
            transform: scale(1.02);
            opacity: 0.9;
        }

    }
}

/***********************CHOICE****************************************/
.Choice {
    margin: 17px;

    h2 {
        padding-left: 8px;
        font-size: 29px;
    }
}

.Choice__item {
    border: 1px solid #f6f6f6;
    height: 74px;
    background-color: #f6f6f6;
    display: flex;
    text-align: center;
    font-weight: 500;
    border-radius: 25px;
    align-items: center;
    margin-bottom: 30px;
    width: 77%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 19px;
    position: relative;
    margin-left: 10px;
    padding-right: 31px;
    padding-left: 38px;

    span {
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);

        block-size: 23px;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: #9356dc;
        color: white;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }



    & li {
        background-color: #f6f6f6;

    }

    i {
        padding-right: 20px;
        color: gray;
        font-size: 22px;
    }


    &:hover {
        background-color: $roseclair;

        i {
            color: #9356dc;
        }
    }
}

/***********************RESTAURANT*****************************/
.restaurants {
    background-color: #F7F7F7;
    margin-top: 66px;
    padding-top: 38px;
    padding-bottom: 50px;

    h2 {
        padding-left: 30px;
        font-size: 29px;
    }
}


.restaurants__card {

    border-radius: 25px;
    max-height: 535px;
    transition: 0.8s;
    margin-bottom: 20px;
    height: 220px;
    padding: 0;
    height: fit-content;
    box-shadow: 0 2px 16px -11px;
    margin: 10px;
    margin-bottom: 15px;
    max-width: 543px;
    margin: 20px;


    .new {
        position: absolute;
        display: block;
        margin-left: 66%;
        margin-top: 5%;
        background-color: #99e2d0;
        color: #1d9475;
        block-size: 20px;
        padding: 5px;
    }

    i {
        font-size: 150%;

        padding-right: 13px;
        padding-top: 3px;
        -webkit-text-stroke: 0px;


    }

    .fa-solid {
        color: transparent;

        background-clip: text;
        -webkit-background-clip: text;
    }

    .heart {
        display: block;
        position: relative;
        font-size: 20px;
        -webkit-text-stroke: 2px;


        .fa-regular.fa-heart {
            font-size: 165%;
            -webkit-text-stroke: 0px;
            color: black;
        }

        .remplissage {
            font-size: 22px;
            width: 100%;
            height: 0;
            position: absolute;
            left: 0;

            transition: all 1.2s ease-in-out 0.3s;


            &:hover {
                height: 100%;


                .fa-solid {

                    background-image: linear-gradient(to top, $rose, $violet);

                    height: 100%;
                    position: absolute;


                }
            }


        }


    }

    img {
        width: 100%;
        height: 165px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: 1% 88%;

    }

    h3 {
        block-size: 7px;
        margin-top: 2px;
    }

    .text {
        justify-content: space-between;
        color: black;
        margin-left: 6px;
    }

    .left\/right {
        display: flex;
        justify-content: space-between;
        margin: 8px;
    }


}

/**********************FOOTER*******************************************/
footer {
    padding-top: 10px;




    img {
        width: 122px;
        margin-left: 12px;
        padding-top: 14px;
    }

    background-color: #353535;
    padding: 10px;

    i {
        margin-right: 10px;
    }

    a {
        color: white;
        margin-left: -28px;

        &:hover {
            color: gray;
        }
    }

    ul {
        list-style: none;
    }

    li {
        padding-bottom: 10px;
    }

    ol {
        list-style: none;
    }
}